.published {
  padding: 15px 0px;
}

.published h3.subTitle {
  margin: 5px auto;
  padding: 0px;
  font-size: 35px;
  color: #373737;
}

.published table {
  margin: 0 auto;
}

.published td {
  padding: 10px;
  width: 200px;
  max-width: 200px;
  vertical-align: text-top;
  hyphens: auto;
}

.published td p {
  text-align: left;
}

.published td a {
  color: #414040;
}

.published td img.app {
  width: 100px;
  height: auto;
}

.published td img.minecraft {
  width: 200px;
  height: auto;
}
